<div class="feedback">
    <p class="config__title">Нужна помощь в выборе?</p>
    <div class="feedback__text">
        <p>В DigitalRazor создают компьютеры, чтобы наши клиенты могли решать свои задачи и получать удовольствие от процесса.</p>
        <p>Если Вы не смогли определиться с выбором среди предложенных конфигураций или у Вас есть специфические задачи, индивидуальные предпочтения, свяжитесь с нами!</p>
        <p>Предоставим информацию и расскажем подробно о преимуществах. Мы любим компьютеры, найдем оптимальное решения с выгодой для Вас.</p>
    </div>
    <div class="feedback__form-outer">
        <p class="feedback__form-title">Свяжитесь с нашими специалистами</p>

        <form class="feedback__form" action="">
            <div class="feedback__form-row">
                <label class="input-label error">
                    <span class="input-label__text">Email*</span>
                    <input class="input" type="text">
                </label>
            </div>
            <div class="feedback__form-row">
                <label class="input-label valid">
                    <span class="input-label__text">Имя*</span>
                    <input class="input" type="text">
                </label>
            </div>
            <div class="feedback__form-row">
                <label class="input-label">
                    <span class="input-label__text">Компания*</span>
                    <input class="input" type="text">
                </label>
            </div>
            <div class="feedback__form-button">
                <button class="btn" type="button">Отправить</button>
            </div>
        </form>
    </div>
</div>