<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top-left">
        <ul class="footer-menu footer-menu--big">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Progaming - серия</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Performance - cерия</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Performance X - cерия</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Игровые моноблоки</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Рабочие станции</a></li>
        </ul>
      </div>
      <div class="footer__top-center">
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="auth.html">Вход</a>&nbsp;/&nbsp;<a class="footer-menu__link" href="register.html">Регистрация</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="cart_1.html">Моя корзина</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Забыли пароль</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="offer.html">Договор оферты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="guarantee.html">Гарантия</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="actions.html">Акции</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="payment.html">Оплата</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="delivery.html">Доставка</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="faq.html">FAQ</a></li>
        </ul>
      </div>
      <div class="footer__top-right">
        <p class="footer__phone"><a href="tel:+78005009926">8 800 500-99-26</a></p>
        <p class="footer__address">Санкт-Петербург,<br> ул.&nbsp;Краснопутиловская&nbsp;9.</p>
        <p class="footer__address">Москва, Шоссе&nbsp;Энтузиастов,<br> дом&nbsp;31с39, 3&nbsp;этаж, офис&nbsp;14</p>
        <p class="footer__qr"><img width="100" height="100" src="images/qr.jpg" alt=""></p>
      </div>
    </div>
    <div class="footer__middle">
      <div class="footer__logo-block">
        <div class="footer__logo"><img src="images/logo.png" alt="DIGITAL RAZOR"></div>
      </div>
      <div class="footer__payments">
        <span class="payment-system" title="VISA">
          <svg class="payment-system__icon payment-system__icon--visa" aria-hidden="true">
            <use xlink:href="#visa" />
          </svg>
        </span>
        <span class="payment-system" title="MASTER CARD">
          <svg class="payment-system__icon payment-system__icon--ms" aria-hidden="true">
            <use xlink:href="#mastercard" />
          </svg>
        </span>
        <span class="payment-system" title="PAY PAL">
          <svg class="payment-system__icon payment-system__icon--pp" aria-hidden="true">
            <use xlink:href="#paypal" />
          </svg>
        </span>
      </div>
      <div class="footer__email-block">
        <a href="mailto:order@digital-razor.ru">order@digital-razor.ru</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        2020 © DigitalRazor LLC. Все права защищены.
      </div>
      <div class="footer__note">
        DigitalRazor и логотип DigitalRazor являются товарными знаками компании ООО "Форсайт Северо‑Запад", зарегистрированными в России и других странах. Другие наименования и товарные знаки являются собственностью своих законных владельцев.
      </div>
    </div>
  </div>
</footer>
