<div class="games">
    <p class="config__subtitle"><span class="config__subtitle-num">2</span> В какие игры играешь</p>
    <div class="games__filter-block">
        <button class="js-filter-opener games__filter-togler" type="button">
            <svg aria-hidden="true">
                <use xlink:href="#filter" />
            </svg>
            Фильтр игр
        </button>
        <div class="games__filter filter">
            <button class="js-filter-closer filter__close" type="button" title="Закрыть">
                <svg aria-hidden="true">
                    <use xlink:href="#close" />
                </svg>
            </button>
            <div class="filter__inner">
                <div class="filter__block">
                    <p class="filter__title">жанры</p>
                    <div class="filter__checkboxes">
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Стратегия
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            РПГ
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Экшен
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Ужасы
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Инди
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Аркада
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Шутер
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Симулятор
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__icon"></span>
                            Файтинг
                        </label>
                    </div>
                </div>
                <div class="filter__block">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="switch__icon"></span>
                        60+ FPS в играх
                    </label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="switch__icon"></span>
                        НОВИНКИ
                    </label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="switch__icon"></span>
                        игры с FSR
                        <span class="info">
                            <button class="info__button" type="button">
                                <svg aria-hidden="true">
                                    <use xlink:href="#info" />
                                </svg>
                            </button>
                            <span class="info__popover">
                                <span><span></span></span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                repellat
                                similique esse odit.
                            </span>
                        </span>
                    </label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="switch__icon"></span>
                        игры с DLSS
                        <span class="info">
                            <button class="info__button" type="button">
                                <svg aria-hidden="true">
                                    <use xlink:href="#info" />
                                </svg>
                            </button>
                            <span class="info__popover">
                                <span><span></span></span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                repellat
                                similique esse odit.
                            </span>
                        </span>
                    </label>
                </div>
            </div>
            <button class="filter__reset" type="button" title="Сбросить">
                <svg aria-hidden="true">
                    <use xlink:href="#reset" />
                </svg>
                <span>Сбросить</span>
            </button>
        </div>
    </div>

    <div class="games__slider-block /*games__slider-block--no_games*/">
        <div class="js-games-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_1.jpg" srcset="images/content/game_1@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_2.jpg" srcset="images/content/game_2@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_3.jpg" srcset="images/content/game_3@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_4.jpg" srcset="images/content/game_4@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_5.jpg" srcset="images/content/game_5@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_1.jpg" srcset="images/content/game_1@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_2.jpg" srcset="images/content/game_2@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_3.jpg" srcset="images/content/game_3@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_4.jpg" srcset="images/content/game_4@2x.jpg" alt="Название игры"></button>
                </div>
                <div class="swiper-slide">
                    <button class="games__game" type="button"><img src="images/content/game_5.jpg" srcset="images/content/game_5@2x.jpg" alt="Название игры"></button>
                </div>
            </div>
        </div>
        <button class="js-games-prev swiper-button-prev" type="button" title="Назад">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_left" />
            </svg>
        </button>
        <button class="js-games-next swiper-button-next" type="button" title="Вперёд">
            <svg aria-hidden="true">
                <use xlink:href="#arrow_right" />
            </svg>
        </button>
        <!--<p>ничего не нашлось</p>
        <img width="285" height="253" src="images/icons/no_items.svg" alt="">-->
    </div>

    <div class="games__games-block">
        <p class="games__games-block-title">выбранные игры</p>
        <div class="games__list">
            <div class="games__list-item">
                <button class="games__picked-game is-picked" type="button" style="background-image: url('images/content/game_1.jpg')" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="#close" />
                    </svg>
                </button>
            </div>
            <div class="games__list-item">
                <button class="games__picked-game is-picked" type="button" style="background-image: url('images/content/game_2.jpg')" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="#close" />
                    </svg>
                </button>
            </div>
            <div class="games__list-item">
                <button class="games__picked-game is-picked" type="button" style="background-image: url('images/content/game_3.jpg')" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="#close" />
                    </svg>
                </button>
            </div>
            <div class="games__list-item">
                <button class="games__picked-game is-picked" type="button" style="background-image: url('images/content/game_4.jpg')" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="#close" />
                    </svg>
                </button>
            </div>
            <div class="games__list-item">
                <div class="games__picked-game"></div>
            </div>
        </div>
    </div>
</div>