<header class="header compensate-for-scrollbar">
  <div class="header__inner container">
    <div class="header__top">
      <ul class="service-menu">
        <li class="service-menu__item"><a class="service-menu__link" href="contacts.html">Контакты</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="payment.html">Оплата</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="delivery.html">Доставка</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="faq.html">FAQ</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Задайте вопрос</a></li>
      </ul>
      <div class="header__location location">
        <button class="js-location location-button" type="button" title="Выбрать город">
          <svg class="location-button__icon" aria-hidden="true">
            <use xlink:href="#pin" />
          </svg>
          <span>Петропавловск-Камчатский</span>
        </button>
        <div class="location__dropdown">
          <div class="location__dropdown-inner">
            <p class="location__dropdown-title">Начните вводить название своего города или выберите из списка ниже.</p>
            <div class="location__dropdown-form">
              <div class="location__dropdown-inputin">
                <input class="js-location-list location__dropdown-input" type="text" placeholder="Ваш населенный пункт" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              </div>
              <div class="location__suggest">
                <p class="location__suggest-title">Выберите вариант или продолжайте ввод</p>
                <div class="location__suggest-list">
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                </div>
              </div>
            </div>
            <div class="location__dropdown-lists">
              <div class="location__dropdown-list">
                <div class="location__dropdown-link location__dropdown-link--main">Москва</div>
                <div class="location__dropdown-link location__dropdown-link--main">Санкт-Петербург</div>
                <div class="location__dropdown-link">Владивосток</div>
                <div class="location__dropdown-link">Екатеринбург</div>
                <div class="location__dropdown-link">Иркутск</div>
                <div class="location__dropdown-link">Казань</div>
              </div>
              <div class="location__dropdown-list">
                <div class="location__dropdown-link">Краснодар</div>
                <div class="location__dropdown-link">Красноярск</div>
                <div class="location__dropdown-link">Минск</div>
                <div class="location__dropdown-link">Нижний Новгород</div>
                <div class="location__dropdown-link">Новосибирск</div>
                <div class="location__dropdown-link">Нурсултан</div>
              </div>
              <div class="location__dropdown-list">
                <div class="location__dropdown-link">Пермь</div>
                <div class="location__dropdown-link">Ростов-на-Дону</div>
                <div class="location__dropdown-link">Самара</div>
                <div class="location__dropdown-link">Ставрополь</div>
                <div class="location__dropdown-link">Уфа</div>
                <div class="location__dropdown-link">Челябинск</div>
              </div>
            </div>
            <p class="location__dropdown-note">
              <img width="35" src="images/icons/car.svg" alt="">
              <span>Бесплатная доставка по России<br> Казахстан, Белоруссия - от 2500р.</span>
            </p>
          </div>
        </div>
      </div>
      <a class="header__phone header-phone" href="tel:+78005009926" title="Позвоните нам">
        <svg class="header-phone__icon" aria-hidden="true">
          <use xlink:href="#phone" />
        </svg>
        <span class="header-phone__text">8 800 500-99-26</span>
      </a>
      <a class="header__personal personal-link" href="#" title="Личный кабинет">
        <svg class="personal-link__icon" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
    </div>
    <div class="header__bottom">
      <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="DIGITAL RAZOR"></a>
      <button class="js-personal-toggler personal-toggler" type="button" title="Личный кабинет">
        <svg class="personal-toggler__personal" aria-hidden="true">
          <use xlink:href="#personal" />
        </svg>
        <svg class="personal-toggler__close" aria-hidden="true">
          <use xlink:href="#menu_close" />
        </svg>
      </button>
      <button class="js-menu-toggler menu-toggler" type="button" title="Меню">
        <svg class="menu-toggler__burger" aria-hidden="true">
          <use xlink:href="#burger" />
        </svg>
        <svg class="menu-toggler__close" aria-hidden="true">
          <use xlink:href="#menu_close" />
        </svg>
      </button>
      <p class="header__menu-title"></p>
      <div class="menu-block">
        <div class="menu-block__inner">
          <ul class="main-menu">
            <li class="main-menu__item root">
              <a class="main-menu__link root-link" href="#">Игровые компьютеры</a>
              <div class="main-menu__dropdown">
                <a class="main-menu__dropdown-link" href="#">
                  <svg class="main-menu__dropdown-icon" aria-hidden="true">
                    <use xlink:href="#m_pro" />
                  </svg>
                  ProGaming - серия
                </a>
                <a class="main-menu__dropdown-link" href="#">
                  <svg class="main-menu__dropdown-icon" aria-hidden="true">
                    <use xlink:href="#m_perf" />
                  </svg>
                  Performance - серия
                </a>
                <a class="main-menu__dropdown-link" href="#">
                  <svg class="main-menu__dropdown-icon" aria-hidden="true">
                    <use xlink:href="#m_shift" />
                  </svg>
                  Performance X - серия
                </a>
              </div>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link is-active" href="#">
                <svg class="main-menu__link-icon" aria-hidden="true">
                  <use xlink:href="#m_ws" />
                </svg>
                Рабочие станции
              </a>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link" href="#">
                <svg class="main-menu__link-icon" aria-hidden="true">
                  <use xlink:href="#m_mono" />
                </svg>
                Моноблоки
              </a>
            </li>
            <li class="main-menu__item main-menu__item--mobile">
              <a class="main-menu__link" href="#">
                <svg class="main-menu__link-icon" aria-hidden="true">
                  <use xlink:href="#m_contacts" />
                </svg>
                Контакты
              </a>
            </li>
            <li class="main-menu__item main-menu__item--mobile">
              <a class="main-menu__link" href="#">
                <svg class="main-menu__link-icon" aria-hidden="true">
                  <use xlink:href="#m_actions" />
                </svg>
                Акции
              </a>
            </li>
          </ul>
          <ul class="personal-menu">
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_orders" />
                </svg>
                МОИ ЗАКАЗЫ
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_designs" />
                </svg>
                СОХРАНЕННЫЕ ДИЗАЙНЫ
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_configs" />
                </svg>
                СОХРАНЕННЫЕ КОНФИГУРАЦИИ
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_partner" />
                </svg>
                ПАРТНЕРСКИЙ КАБИНЕТ
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_payment" />
                </svg>
                ОПЛАТА
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_delivery" />
                </svg>
                ДОСТАВКА
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_support" />
                </svg>
                ПОДДЕРЖКА
              </a>
            </li>
            <li class="personal-menu__item">
              <a class="personal-menu__link" href="#">
                <svg class="personal-menu__icon" aria-hidden="true">
                  <use xlink:href="#m_faq" />
                </svg>
                FAQ
              </a>
            </li>
          </ul>
          <div class="menu-block__phone-block"><a class="menu-block__phone" href="tel:+78124261409">+7 (812) 426-14-09</a></div>
        </div>
        <a class="header__design-button" href="#" title="Создать свой дизайн">
          <svg class="design-button__icon" aria-hidden="true">
            <use xlink:href="#design" />
          </svg>
        </a>
        <a class="header__cart-button" href="#" title="Корзина">
          <svg class="cart-button__icon" aria-hidden="true">
            <use xlink:href="#cart" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
