<div class="mods">
    <button class="mods__reset" type="button" title="Сбросить">
        <svg aria-hidden="true">
            <use xlink:href="#reset" />
        </svg>
        <span>Сбросить</span>
    </button>
    <p class="js-mods-toggler config__subtitle">
        <span class="config__subtitle-num">3</span>
        <span class="config__subtitle-container">
            параметры конфигурации
            <span class="config__subtitle-button">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_down" />
                </svg>
            </span>
        </span>
    </p>
    <div class="mods__inner mods__inner--type_1">
        <button class="mods__reset" type="button" title="Сбросить">
            <svg aria-hidden="true">
                <use xlink:href="#reset" />
            </svg>
            <span>Сбросить</span>
        </button>
        <div class="mods__container mods__container--type_2">
            <div class="mods__block">
                <p class="mods__block-title">
                    <span class="info">
                        <button class="info__button" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="#info" />
                            </svg>
                        </button>
                        <span class="info__popover">
                            <span><span></span></span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum repellat
                            similique esse odit.
                        </span>
                    </span>
                    Процессор
                </p>
                <div class="btns-group">
                    <label class="btns-group__item">
                        <input type="checkbox" name="cpu" value="1">
                        <span class="btns-group__item-inner">AMD</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="checkbox" name="cpu" value="2">
                        <span class="btns-group__item-inner">INTEL</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="checkbox" name="cpu" value="3">
                        <span class="btns-group__item-inner">Автовыбор</span>
                    </label>
                </div>
            </div>

            <div class="mods__block">
                <p class="mods__block-title">
                    <span class="info">
                        <button class="info__button" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="#info" />
                            </svg>
                        </button>
                        <span class="info__popover">
                            <span><span></span></span>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum repellat
                            similique esse odit.
                        </span>
                    </span>
                    Видеокарта
                </p>
                <div class="btns-group">
                    <label class="btns-group__item">
                        <input type="checkbox" name="gpu" value="1">
                        <span class="btns-group__item-inner">AMD</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="checkbox" name="gpu" value="2">
                        <span class="btns-group__item-inner">NVIDIA</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="checkbox" name="gpu" value="3">
                        <span class="btns-group__item-inner">Автовыбор</span>
                    </label>
                </div>
            </div>

            <div class="mods__block mods__block--type_1">
                <div class="mods__switches">
                    <label class="switch">
                        <input class="js-series" type="checkbox">
                        <span class="switch__icon"></span>
                        Специальные<br> серии
                    </label>
                    <label class="switch">
                        <input class="js-additional" type="checkbox">
                        <span class="switch__icon"></span>
                        <span>
                            <span class="mobile">Доп. </span><span class="desktop">Дополнительные </span>
                            опции
                        </span>
                    </label>
                </div>
            </div>

            <div class="mods__block mods__brands">
                <p class="mods__brands-title">Бренды</p>
                <div class="brands">
                    <div class="brands__item">
                        <label class="brands__brand">
                            <input type="checkbox">
                            <img src="images/content/brand_1.jpg" alt="Название бренда">
                        </label>
                    </div>
                    <div class="brands__item">
                        <label class="brands__brand">
                            <input type="checkbox">
                            <img src="images/content/brand_2.jpg" alt="Название бренда">
                        </label>
                    </div>
                    <div class="brands__item">
                        <label class="brands__brand">
                            <input type="checkbox">
                            <img src="images/content/brand_3.jpg" alt="Название бренда">
                        </label>
                    </div>
                    <div class="brands__item">
                        <label class="brands__brand">
                            <input type="checkbox">
                            <img src="images/content/brand_4.jpg" alt="Название бренда">
                        </label>
                    </div>
                    <div class="brands__item">
                        <label class="brands__brand">
                            <input type="checkbox">
                            <img src="images/content/brand_5.jpg" alt="Название бренда">
                        </label>
                    </div>
                </div>
            </div>

            <div class="mods__block mods__additionals">
                <p class="mods__brands-title"><span class="mobile">Доп. </span><span class="desktop">Дополнительные </span>опции</p>
                <div class="mods__additionals-inner">
                    <div class="mods__additionals-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Бесшумный
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Подсветка
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Компактный<br> компьютер
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            С разворотом<br> выдеокарты
                        </label>
                    </div>
                    <div class="mods__additionals-block">
                        <p class="mods__block-title">
                            <span class="info">
                                <button class="info__button" type="button">
                                    <svg aria-hidden="true">
                                        <use xlink:href="#info" />
                                    </svg>
                                </button>
                                <span class="info__popover">
                                    <span><span></span></span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                    repellat
                                    similique esse odit.
                                </span>
                            </span>
                            <span><span class="desktop">Выбери </span>тип охлаждения</span>
                        </p>
                        <div class="btns-group">
                            <label class="btns-group__item">
                                <input type="checkbox" name="air" value="1">
                                <span class="btns-group__item-inner">Водяное</span>
                            </label>
                            <label class="btns-group__item">
                                <input type="checkbox" name="air" value="2">
                                <span class="btns-group__item-inner">Воздух</span>
                            </label>
                            <label class="btns-group__item">
                                <input type="checkbox" name="air" value="3">
                                <span class="btns-group__item-inner">Кастом</span>
                            </label>
                        </div>
                    </div>
                    <div class="mods__additionals-block">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Новинка
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Хит продаж
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            Акции
                        </label>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="switch__icon"></span>
                            fps 60+
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>