<div class="params">
    <button class="params__reset" type="button" title="Сбросить">
        <svg aria-hidden="true">
            <use xlink:href="#reset" />
        </svg>
        <span>Сбросить</span>
    </button>
    <p class="js-params-toggler config__subtitle">
        <span class="config__subtitle-num">1</span>
        <span class="config__subtitle-container">
            Укажи задачи и параметры
            <span class="config__subtitle-button">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_down" />
                </svg>
            </span>
        </span>
    </p>
    <div class="params__inner">
        <button class="js-price-reset params__reset" type="button" title="Сбросить">
            <svg aria-hidden="true">
                <use xlink:href="#reset" />
            </svg>
            <span>Сбросить</span>
        </button>
        <div class="params__block">
            <p class="params__block-title">
                <span class="info">
                    <button class="info__button" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="#info" />
                        </svg>
                    </button>
                    <span class="info__popover">
                        <span><span></span></span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum repellat
                        similique esse odit.
                    </span>
                </span>
                разрешение монитора
            </p>
            <div class="btns-group">
                <label class="btns-group__item">
                    <input type="checkbox" name="res" value="1">
                    <span class="btns-group__item-inner">FHD</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="res" value="2">
                    <span class="btns-group__item-inner">2K</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="res" value="3">
                    <span class="btns-group__item-inner">4K</span>
                </label>
            </div>
        </div>
        <div class="params__block">
            <p class="params__block-title">
                <span class="info">
                    <button class="info__button" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="#info" />
                        </svg>
                    </button>
                    <span class="info__popover">
                        <span><span></span></span>
                        Вы можете выбрать уровень настроек графики для игр, на которых обычно играете. Они влияют на детализацию изображения в игре и уровень FPS. Для требовательных игр на младших конфигурациях снижение настроек позволит
                        получить более плавную картинку.
                    </span>
                </span>
                настройки графики
            </p>
            <div class="btns-group">
                <label class="btns-group__item">
                    <input type="checkbox" name="graphics" value="1">
                    <span class="btns-group__item-inner">Standart</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="graphics" value="2">
                    <span class="btns-group__item-inner">High</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="graphics" value="3">
                    <span class="btns-group__item-inner">Ultra</span>
                </label>
            </div>
        </div>
        <div class="params__block">
            <p class="params__block-title">
                <span class="info">
                    <button class="info__button" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="#info" />
                        </svg>
                    </button>
                    <span class="info__popover">
                        <span><span></span></span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quo a quis possimus, neque magni. Quaerat dolorum beatae facere hic, in a nam laudantium et earum, voluptatibus, possimus facilis ex!
                    </span>
                </span>
                дополнительные задачи
            </p>
            <div class="btns-group">
                <label class="btns-group__item">
                    <input type="checkbox" name="add" value="1">
                    <span class="btns-group__item-inner">3D</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="add" value="2">
                    <span class="btns-group__item-inner">Видеомонтаж</span>
                </label>
                <label class="btns-group__item">
                    <input type="checkbox" name="add" value="3">
                    <span class="btns-group__item-inner">Стриминг</span>
                </label>
            </div>
        </div>
    </div>
</div>