<div class="js-popup-test popup popup--type_2">
    <button class="js-popup-closer popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#new_close"></use>
        </svg>
    </button>

    <p class="popup__big-title">Тесты</p>

    <div class="tests-sections">
        <div class="tests-sections__inner">
            <button class="js-tests tests-sections__button is-active" type="button" data-target="1">Игры</button>
            <button class="js-tests tests-sections__button" type="button" data-target="2">Синтетика</button>
            <button class="js-tests tests-sections__button" type="button" data-target="3">Создание контента</button>
        </div>
    </div>

    <div class="js-tests-section" data-target="1">
        <div class="tests-title-block">
            <p class="tests-title">Библиотека игр</p>
            <div class="tests-filter-block">
                <button class="js-tests-filter-opener tests-filter-opener" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="#filter"></use>
                    </svg>
                    Фильтр игр
                </button>
                <div class="tests-filter">
                    <button class="js-tests-filter-closer tests-filter__close" type="button" title="Закрыть">
                        <svg aria-hidden="true">
                            <use xlink:href="#new_close" />
                        </svg>
                    </button>
                    <div class="tests-filter__inner">
                        <div class="tests-filter__block">
                            <p class="tests-filter__title">жанры</p>
                            <div class="tests-filter__checkboxes">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Стратегия
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    РПГ
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Экшен
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Ужасы
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Инди
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Аркада
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Шутер
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Симулятор
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__icon"></span>
                                    Файтинг
                                </label>
                            </div>
                        </div>
                        <div class="tests-filter__block">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="switch__icon"></span>
                                60+ FPS в играх
                            </label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="switch__icon"></span>
                                НОВИНКИ
                            </label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="switch__icon"></span>
                                игры с FSR
                                <span class="info">
                                    <button class="info__button" type="button">
                                        <svg aria-hidden="true">
                                            <use xlink:href="#info" />
                                        </svg>
                                    </button>
                                    <span class="info__popover">
                                        <span><span></span></span>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                        repellat
                                        similique esse odit.
                                    </span>
                                </span>
                            </label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="switch__icon"></span>
                                игры с DLSS
                                <span class="info">
                                    <button class="info__button" type="button">
                                        <svg aria-hidden="true">
                                            <use xlink:href="#info" />
                                        </svg>
                                    </button>
                                    <span class="info__popover">
                                        <span><span></span></span>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorum inventore sit natus distinctio voluptas, nam adipisci totam sapiente. Placeat consequatur numquam omnis, obcaecati dicta laborum
                                        repellat
                                        similique esse odit.
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <button class="tests-filter__reset" type="button" title="Сбросить">
                        <svg aria-hidden="true">
                            <use xlink:href="#reset" />
                        </svg>
                        <span>Сбросить</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="tests">
            <div class="js-tests-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="test test--type_1 is-active" type="button" title="Выбрано">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <button id="tests_1_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="tests_1_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>

        <p class="tests-title">Игры на графиках</p>

        <div class="tests-sorter">
            <div class="tests-sorter__item">
                <div class="btns-group btns-group--blue">
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="1" checked>
                        <span class="btns-group__item-inner">1080P</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="2" disabled>
                        <span class="btns-group__item-inner">2K</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="3">
                        <span class="btns-group__item-inner">4K</span>
                    </label>
                </div>
            </div>
            <div class="tests-sorter__item">
                <div class="btns-group btns-group--blue">
                    <label class="btns-group__item">
                        <input type="radio" name="quality" value="1" checked>
                        <span class="btns-group__item-inner">Standart</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="quality" value="2">
                        <span class="btns-group__item-inner">High</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="quality" value="3">
                        <span class="btns-group__item-inner">Ultra</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="tests">
            <div class="js-tests-slider-3 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <div class="test test--type_3" type="button"></div>
                    </div>
                </div>
            </div>
            <button id="tests_3_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="tests_3_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>
    </div>

    <div class="js-tests-section" data-target="2" style="display:none">
        <p class="tests-title">Библиотека тестов</p>

        <div class="tests">
            <div class="js-tests-slider-2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="test test--type_1 is-active" type="button" title="Выбрано">
                            <img src="images/content/test2.jpg" srcset="images/content/test@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_1" type="button" title="Выбрать">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#add"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <button id="tests_2_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="tests_2_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>

        <p class="tests-title">Синтетика на графиках</p>

        <div class="tests-sorter">
            <div class="tests-sorter__item">
                <div class="btns-group btns-group--blue">
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="1" checked>
                        <span class="btns-group__item-inner">1080P</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="2" disabled>
                        <span class="btns-group__item-inner">2K</span>
                    </label>
                    <label class="btns-group__item">
                        <input type="radio" name="res" value="3">
                        <span class="btns-group__item-inner">4K</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="tests">
            <div class="js-tests-slider-4 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <button class="test test--type_2" type="button" title="Удалить">
                            <img src="images/content/test2.jpg" srcset="images/content/test2@2x.jpg 2x" alt="alt">
                            <svg aria-hidden="true">
                                <use xlink:href="#delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-slide">
                        <div class="test test--type_3" type="button"></div>
                    </div>
                </div>
            </div>
            <button id="tests_4_prev" class="js-tests-prev swiper-button-prev" type="button" title="Назад">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_left" />
                </svg>
            </button>
            <button id="tests_4_next" class="js-tests-next swiper-button-next" type="button" title="Вперёд">
                <svg aria-hidden="true">
                    <use xlink:href="#arrow_right" />
                </svg>
            </button>
        </div>
    </div>

    <div class="js-tests-section" data-target="3" style="display:none"></div>
</div>