<div class="reset-popup">
    <button class="js-reset-popup-close reset-popup__close" type="button" title="Закрыть">
        <svg aria-hidden="true">
            <use xlink:href="#new_close" />
        </svg>
    </button>
    <ul>
        <li>Подобранные варианты конфигураций ПК соответствуют параметрам выбора и являются оптимальными.</li>
        <li><b>Снижение цены приведет к сбросу фильтра для подбора по цене, либо к снижению показателей производительности и понижению уровня конфигураций.</b></li>
    </ul>
    <div class="reset-popup__buttons">
        <button class="btn btn--type_2" type="button">Снизить FPS</button>
        <button class="btn btn--type_2" type="button">Сбросить цену</button>
    </div>
</div>