.config {
    background-color: #020405;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 32px 16px;
    @media(min-width: $sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media(min-width: $fhd) {
        padding-top: 80px;
        padding-bottom: 72px;
    }
    @media(min-width: $fhd) {
        background-image: linear-gradient(127.85deg, rgba(0, 0, 0, 0) 1.04%, rgba(97, 27, 26, 0.227982) 52.35%);
        padding-bottom: 178px;
    }

    &--blue {
        @media(min-width: $hd) {
            background: linear-gradient(127.85deg, rgba(0, 0, 0, 0) 1.04%, rgba(84, 116, 180, 0.5) 100%), #020405;
        }

        .config__title {
            &::before {
                background-color: #5474B4;
                box-shadow: 0 2px 4px 0 rgba(#5474B4, 0.5);
            }
        }

        .config__selection {
            .btns-group {
                background-color: rgba(#5474B4, 0.5);

                .btns-group__item-inner {
                    border-color: #5474B4;
                }

                .btns-group__item input:checked + .btns-group__item-inner {
                    background-color: #5474B4;
                }
            }
        }

        .btns-list__btn {
            background-color: rgba(#5474B4, 0.2);

            &:hover {
                background-color: rgba(#5474B4, 0.5);
            }

            &.is-active {
                background-color: #5474B4;
            }
        }

        .games {
            .games__slider-block {
                box-shadow: 0 1px 8px 0 rgba(#5474B4, 0.5);
                @media(min-width: $sm) {
                    box-shadow: 0 0 24px 0 rgba(#5474B4, 0.5);
                }

                .swiper-button-next,
                .swiper-button-prev {
                    @media(min-width: $sm) {
                        box-shadow: 0 0 16px 0 rgba(#5474B4, 0.5);
                    }
                }
            }

            .games__games-block {
                box-shadow: 0 1px 8px 0 rgba(#5474B4, 0.5);
                @media(min-width: $sm) {
                    box-shadow: 0 4px 9px 0 rgba(#5474B4, 0.5);
                }
            }

            .games__game {
                &:focus,
                &:hover {
                    img {
                        box-shadow: 0 0 4px 0 rgba(#5474B4, 0.8);
                    }
                }

                &.is-active {
                    img {
                        box-shadow: 0 0 4px 0 #5474B4;
                    }
                }

                &::after {
                    border: 4px solid #5474B4;
                }
            }

            .games__picked-game {
                background-color: rgba(#5474B4, 0.5);
                box-shadow: 0 0 12px 0 #5474B4;

                &::after {
                    border: 2px solid rgba(#5474B4, 0.5);
                }

                &.is-picked {
                    &::after {
                        border-color: #5474B4;
                    }
                }
            }
        }

        .card {
            box-shadow: 0 0 8px 0 rgba(#5793EA, 0.5);
        }

        .options {
            box-shadow: 0 0 10px 0 rgba(#5474B4, 0.5);

            .options__inner {
                @media(min-width: $sm) {
                    box-shadow: 0 0 24px 0 rgba(#5474B4, 0.5);
                }
                @media(min-width: $hd) {
                    box-shadow: 0 0 12px 0 #5474B4;
                }
            }

            .options__card {
                box-shadow: 0 2px 8px 0 rgba(#5474B4, 0.5);
                @media(min-width: $hd) {
                    box-shadow: 0 2px 8px 0 #5474B4;
                }

                &.is-active {
                    border-color: #5474B4;
                }
            }

            .options__dropdown > .btns-group {
                background-color: rgba(#5474B4, 0.5);
                @media(min-width: $hd) {
                    background-color: #0C1117;
                    box-shadow: 0 2px 8px 0 rgba(#5474B4, 0.5);
                }

                .btns-group__item-inner {
                    background-color: rgba(#5474B4, 0.5);
                    border-color: #5474B4;
                }

                .btns-group__item input:checked + .btns-group__item-inner {
                    background-color: #5474B4;
                }
            }

            .options__dropdown-button {
                box-shadow: 0 2px 8px 0 rgba(#5474B4, 0.5);

                &.is-active {
                    border-color: #5474B4;
                }
            }

            .options__add-opener {
                &:focus,
                &:hover {
                    background-color: #5474B4;
                }
            }

            .options__add {
                box-shadow: 0 0 20px 0 rgba(#5474B4, 0.5);

                .btns-group {
                    background-color: rgba(#5474B4, 0.5);

                    .btns-group__item-inner {
                        border-color: #5474B4;
                    }

                    .btns-group__item input:checked + .btns-group__item-inner {
                        background-color: #5474B4;
                    }
                }
            }

            .options__dropdown-title--bordered {
                &::after {
                    background-color: #5474B4;
                }
            }
        }

        .ff-list {
            .ff-list__button {
                &:focus,
                &:hover {
                    color: #5474B4;

                    svg {
                        fill: #5474B4;
                    }
                }

                &.is-active {
                    color: #3B81EA;

                    svg {
                        fill: #3B81EA;
                    }
                }
            }
        }
    }

    button {
        font-family: inherit;
    }

    ol,
    p,
    ul {
        margin-top: 0;
    }

    ol,
    ul {
        list-style: none;
        padding: 0;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    &__selection {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $sm) {
            max-width: 676px;
        }
        @media(min-width: $hd) {
            margin-bottom: 32px;
            max-width: 700px;
        }
        @media(min-width: $fhd) {
            margin-bottom: 48px;
            max-width: 728px;
        }

        .btns-group {
            padding: 4px;
        }

        .btns-group__item {
            @media(min-width: $sm) {
                padding-left: 6px;
                padding-right: 6px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .btns-group__item-inner {
            font-size: 12px;
            padding-left: 8px;
            padding-right: 8px;
            @media(min-width: $sm) {
                font-size: 16px;
            }
            @media(min-width: $hd) {
                padding-left: 12px;
                padding-right: 12px;
            }
            @media(min-width: $fhd) {
                min-height: 48px;
                padding-left: 16px;
                padding-right: 16px;
            }

            .mobile {
                @media(min-width: $sm) {
                    display: none;
                }
            }

            .desktop {
                display: none;
                @media(min-width: $sm) {
                    display: inline;
                }
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33333;
        letter-spacing: 0.48px;
        margin-bottom: 16px;
        padding-top: 16px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 32px;
            line-height: 1.5;
            letter-spacing: 0.64px;
        }
        @media(min-width: $hd) {
            margin-bottom: 40px;
        }
        @media(min-width: $fhd) {
            font-size: 48px;
            line-height: 1.16666;
            letter-spacing: 0.96px;
            margin-bottom: 56px;
            padding-top: 32px;
        }
        @media(min-width: $ufhd) {
            margin-bottom: 64px;
        }

        &::before {
            background-color: $main_color;
            box-shadow: 0 2px 4px 0 rgba($main_color, 0.5);
            content: '';
            height: 3px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            top: 0;
            width: 160px;
            z-index: 1;
            @media(min-width: $sm) {
                width: 272px;
            }
            @media(min-width: $fhd) {
                width: 354px;
            }
        }
        /*&--blue {
            &::before {
                background-color: #5474B4;
                box-shadow: 0 2px 4px 0 rgba(#5474B4, 0.5);
            }
        }*/
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.33333;
        letter-spacing: 0.36px;
        margin-bottom: 24px;
        text-align: center;
        text-transform: uppercase;
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 24px;
            letter-spacing: 0.48px;
            margin-bottom: 32px;
        }
        @media(min-width: $fhd) {
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.72px;
            margin-bottom: 48px;
        }
    }

    &__subtitle-num {
        align-items: center;
        border: 2px solid $main_color;
        border-radius: 50%;
        box-shadow: 0 0 4px 0 rgba($main_color, 0.5);
        display: flex;
        font-size: 24px;
        height: 40px;
        justify-content: center;
        line-height: 1.16666;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        width: 40px;
        @media(min-width: $sm) {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 16px;
        }
        @media(min-width: $fhd) {
            margin-right: 32px;
        }
    }

    &__subtitle-container {
        display: inline-block;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        @media(min-width: $sm) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__subtitle-button {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 4px;
        top: -8px;
        width: 40px;
        z-index: 1;
        @media(min-width: $sm) {
            display: none;
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

* {
    outline: none;

    &:focus {
        outline: none;
    }
}