.popup-shade {
    background-color: rgba(#0c1117, 0.8);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    &__inner {
        bottom: 0;
        display: flex;
        left: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.popup {
    background-color: #0c1117;
    background-image: url("../images/backgrounds/popup/pattern_mobile.png");
    background-repeat: repeat-x;
    background-position: 50% 100%;
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    max-width: 616px;
    margin: auto;
    padding: 40px 36px;
    position: relative;
    width: 100%;
    @media(min-width: $sm) {
        background-image: url("../images/backgrounds/popup/pattern.png");
        font-size: 16px;
        line-height: 1.5;
        padding: 48px;
    }
    @media(min-width: $hd) {
        max-width: 980px;
    }

    &--no_img_bg {
        background-image: none !important;
    }

    &__close {
        align-items: center;
        background-color: $main_color;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        left: auto;
        opacity: 1;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        z-index: 1;
        @media(min-width: $sm) {
            height: 48px;
            width: 48px;
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33333;
        margin-bottom: 8px;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 36px;
            line-height: 1.16666;
            margin-bottom: 16px;
        }
        @media(min-width: $hd) {
            font-size: 48px;
        }
    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        max-width: 510px;
        margin-bottom: 16px;
        text-align: center;
        @media(min-width: $hd) {
            margin-bottom: 32px;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .btn {
            margin-left: 12px;
            margin-right: 12px;
        }
    }

    &.js-popup-warning {
        display: none;
    }
}

.help-form {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;

    &__row {
        @media(min-width: $sm) {
            display: flex;
            margin-left: -8px;
            margin-right: -8px;
        }
    }

    &__row-cell {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 0;
            padding-left: 8px;
            padding-right: 8px;
            width: 50%;
        }
    }

    &__label {
        display: block;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .input {
        background-color: #0c1117;
        font-size: 12px;
        height: 32px;
        line-height: 1.16666;
        padding: 6px 16px;
        @media(min-width: $sm) {
            font-size: 18px;
            height: 48px;
            line-height: 1.33333;
            padding: 12px 16px;
        }
    }

    .textarea {
        background-color: #0c1117;
        font-size: 12px;
        height: 128px;
        line-height: 1.16666;
        padding: 6px 16px;
        @media(min-width: $sm) {
            font-size: 16px;
            line-height: 1.25;
            padding: 12px 16px;
        }
    }

    &__textarea-label {
        display: block;
        margin-top: 24px;
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-top: 32px;
            margin-bottom: 32px;
            max-width: 462px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__captcha {
        margin-bottom: 24px;
        margin-top: 24px;
        @media(min-width: $sm) {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }

    &__button-block {
        margin-top: 24px;
        text-align: center;
        @media(min-width: $sm) {
            margin-top: 32px;
        }
    }
}

.popup-new {
    background-color: #0C1117;
    box-shadow: 0 0 12px 0 rgba($main_color, 0.7);
    border-radius: 8px;
    color: #fff;
    display: none;
    max-width: 348px;
    min-height: 408px;
    margin: auto;
    position: relative;
    width: 100%;
    @media(min-width: $sm) {
        min-height: 608px;
        max-width: 702px;
    }

    &__close {
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 32px;
        left: auto;
        padding: 0;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 32px;
        @media(min-width: $sm) {
            height: 56px;
            right: 32px;
            top: 32px;
            width: 56px;
        }

        svg {
            fill: #fff;
            height: 32px;
            width: 32px;
            @media(min-width: $sm) {
                height: 56px;
                width: 56px;
            }
        }
    }

    &__inner {
        padding-left: 24px;
        padding-right: 24px;

        &--type_1 {
            padding-top: 72px;
            padding-bottom: 48px;
            @media(min-width: $sm) {
                padding-top: 106px;
                padding-left: 80px;
                padding-right: 80px;
            }
        }

        &--type_2 {
            padding-top: 72px;
            padding-bottom: 48px;
            @media(min-width: $sm) {
                padding-top: 148px;
                padding-left: 80px;
                padding-right: 80px;
            }
        }

        &--type_3 {
            padding-top: 40px;
            padding-bottom: 48px;
            @media(min-width: $sm) {
                padding-top: 88px;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33333;
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 48px;
        }
    }

    &__buttons {
        @media(min-width: $sm) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__buttons-col {
        margin-bottom: 24px;
        text-align: center;
        @media(min-width: $sm) {
            padding-left: 10px;
            padding-right: 10px;
            width: 33.33333%;
        }
    }

    &__button {
        align-items: center;
        background-color: $main_color;
        border: 2px solid $main_color;
        border-radius: 2px;
        color: #fff;
        display: inline-flex;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        height: 48px;
        line-height: 1.33333;
        max-width: 200px;
        text-decoration: none;
        transition: background-color 0.3s;
        width: 100%;

        &:active,
        &:focus,
        &:hover {
            background-color: rgba($main_color, 0.7);
            color: #fff;
            text-decoration: none;
        }

        svg {
            fill: #fff;
            height: 32px;
            margin-right: 8px;
            width: 32px;
        }
    }

    &__button-note {
        display: none;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 1px;
        margin-top: 16px;
        text-align: center;
        @media(min-width: $sm) {
            display: block;
        }
    }

    &__form {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }

    &__form-row {
        margin-bottom: 24px;
    }

    &__label {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 280px;
        position: relative;
    }

    &__label-text {
        color: rgba(#fff, 0.7);
        font-size: 8px;
        left: 12px;
        line-height: 1.5;
        position: absolute;
        top: 6px;
    }

    &__input {
        border: 2px solid rgba(#fff, 0.6);
        border-radius: 2px;
        background-color: transparent;
        color: rgba(#fff, 0.7);
        display: block;
        font-size: 16px;
        height: 48px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        transition: border-color 0.3s;
        width: 100%;

        &:focus {
            border: 2px solid #fff;
        }

        &.error {
            border-color: $main_color;
        }

        &::-webkit-input-placeholder {
            color: rgba(#fff, 0.7);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: rgba(#fff, 0.7);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: rgba(#fff, 0.7);
            opacity: 1;
        }
    }

    &__form-button {
        text-align: center;
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__social {
        align-items: center;
        border-radius: 2px;
        box-shadow: 0 0 4px 0 $main_color;
        background-color: $main_color;
        display: flex;
        height: 44px;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 44px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        svg {
            fill: #fff;
            height: 32px;
            width: 32px;
        }
    }

    &__success {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        @media(min-width: $sm) {
            width: 268px;
        }
    }

    &__ok {
        min-width: 96px;
        @media(min-width: $sm) {
            min-width: 172px;
        }
    }
}