.price {
    box-shadow: 0 1px 8px 0 rgba($main_color, 0.5);
    border-radius: 4px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 536px;
    padding-top: 16px;
    padding-bottom: 24px;
    position: relative;
    @media(min-width: $sm) {
        box-shadow: none;
        margin-bottom: 40px;
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    @media(min-width: $fhd) {
        margin-bottom: 48px;
    }
    @media(min-width: $ufhd) {
        margin-bottom: 56px;
    }

    .config__subtitle {
        margin-bottom: 8px;
        @media(min-width: $sm) {
            margin-bottom: 32px;
        }

        .mobile {
            @media(min-width: $sm) {
                display: none;
            }
        }

        .desktop {
            display: none;
            @media(min-width: $sm) {
                display: block;
            }
        }
    }

    &__reset {
        align-items: center;
        border-radius: 4px;
        background-color: rgba(#fff,0.1);
        border: 1px solid transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 12px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 40px;
        z-index: 1;
        @media(min-width: $sm) {
            display: none;
            right: 16px;
            top: 16px;
        }
        @media(min-width: $hd) {
            background-color: rgba(#fff, 0.2);
            font-size: 8px;
            height: 32px;
            padding-left: 16px;
            padding-right: 16px;
            right: 8px;
            top: 8px;
            width: auto;
        }
        @media(min-width: $fhd) {
            font-size: 12px;
            padding-left: 24px;
            padding-right: 24px;
            right: 16px;
            top: 16px;
        }
        @media(min-width: $ufhd) {
            right: 24px;
            top: 24px;
        }

        span {
            display: none;
            @media(min-width: $hd) {
                display: block;
            }
        }

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
            @media(min-width: $hd) {
                height: 18px;
                margin-right: 4px;
                width: 18px;
            }
            @media(min-width: $ufhd) {
                height: 20px;
                width: 20px;
            }
        }

        &:focus,
        &:hover {
            border-color: $main_color;
            background-color: rgba($main_color, 0.7);
        }

        &:active {
            border-color: $main_color;
            background-color: $main_color;
        }
    }

    &__inner {
        padding-left: 24px;
        padding-right: 24px;
        @media(min-width: $sm) {
            box-shadow: 0 0 24px 0 rgba($main_color, 0.5);
            background-color: #020405;
            max-width: 536px;
            margin-left: auto;
            margin-right: auto;
            padding: 98px 40px 44px;
            position: relative;
        }
        @media(min-width: $hd) {
            box-shadow: 0 0 12px 0 $main_color;
            max-width: 1216px;
            padding: 64px 74px 20px;
        }
        @media(min-width: $fhd) {
            border-radius: 4px;
            max-width: 1760px;
            padding-left: 104px;
            padding-right: 104px;
        }
        @media(min-width: $ufhd) {
            max-width: 2080px;
        }

        .price__reset {
            display: none;
            @media(min-width: $sm) {
                display: flex;
            }
        }
    }

    &__slider-block {
        @media(min-width: $hd) {
            display: flex;
        }
    }

    &__slider-max,
    &__slider-min {
        display: none;
        @media(min-width: $hd) {
            display: block;
        }
    }

    &__slider-min {
        padding-right: 22px;
        @media(min-width: $hd) {
            padding-right: 36px;
        }
    }

    &__slider-max {
        padding-left: 22px;
        @media(min-width: $hd) {
            padding-left: 36px;
        }
    }

    &__slider-min-max-label {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    &__slider-min-max-price {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.33333;
        white-space: nowrap;
    }

    &__slider {
        flex-grow: 1;
        margin-bottom: 36px;
        @media(min-width: $hd) {
            margin-bottom: 16px;
        }

        .irs--round {
            height: 55px;
        }

        .irs--round .irs-line {
            border-radius: 0;
            background-color: rgba(#fff, 0.3);
        }

        .irs--round .irs-bar {
            background-color: rgba($main-color, 0.8);
        }

        .irs--round .irs-handle {
            background-color: $main-color;
            border-color: $main-color;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V14C7 14.5523 6.55228 15 6 15C5.44772 15 5 14.5523 5 14V1C5 0.447715 5.44772 0 6 0ZM1 2C1.55228 2 2 2.44772 2 3V12C2 12.5523 1.55228 13 1 13C0.447715 13 0 12.5523 0 12V3C0 2.44772 0.447715 2 1 2ZM12 3C12 2.44772 11.5523 2 11 2C10.4477 2 10 2.44772 10 3V12C10 12.5523 10.4477 13 11 13C11.5523 13 12 12.5523 12 12V3Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 32px;
            top: 22px;
            width: 32px;
        }

        .irs--round .irs-from,
        .irs--round .irs-single,
        .irs--round .irs-to {
            background-color: #fff;
            color: #0C1117;
            display: none;
            font-family: 'Montserrat', Arial, sans-serif;
            font-size: 12px;
            font-weight: 700;
            padding: 8px;
            top: -12px;
            @media(min-width: $sm) {
                display: block;
            }
            @media(min-width: $hd) {
                padding: 16px;
                top: -28px;
            }

            &::before {
                border-top-color: #fff;
            }
        }
    }

    &__inputs {
        display: flex;
        justify-content: center;
    }

    &__input-block {
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        width: 50%;
        @media(min-width: $sm) {
            margin-left: 12px;
            margin-right: 12px;
            max-width: 166px;
        }
    }

    &__input-before {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        left: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
            left: 16px;
        }
    }

    &__input {
        border-radius: 2px;
        border: 2px solid rgba($main-color, 0.5);
        background-color: transparent;
        color: #fff;
        display: block;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        height: 40px;
        padding: 10px 16px 10px 40px;
        transition: border-color 0.3s;
        width: 100%;
        @media(min-width: $sm) {
            font-size: 16px;
        }
        @media(min-width: $fhd) {
            font-size: 18px;
            height: 56px;
            padding-left: 48px;
        }

        &:focus {
            border-color: $main-color;
        }

        &::-webkit-input-placeholder {
            color: #fff;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: #fff;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: #fff;
            opacity: 1;
        }
    }
}