.tests-sections {
    box-shadow: 0 0 8px 0 rgba(#fff, 0.3);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    &__button {
        background-color: rgba(#fff, 0.1);
        border: none;
        border-radius: 16px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 32px;
        line-height: 1.5;
        margin-left: 4px;
        margin-right: 4px;
        padding: 4px 16px;

        &.is-active {
            background-color: rgba(#D43C38, 0.5);
        }
    }
}

.tests-title-block {
    position: relative;
}

.tests-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33333;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.tests-filter-block {
    bottom: 0;
    left: auto;
    position: absolute;
    right: 0;
    top: auto;
}

.tests-filter-opener {
    align-items: center;
    background-color: #5474B4;
    border-radius: 2px;
    border: 2px solid #5474B4;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.33333;
    letter-spacing: 0.1px;
    min-height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 0.3s;

    &.is-active,
    &:active,
    &:focus,
    &:hover {
        background-color: rgba(#5474B4, 0.3);
    }

    svg {
        fill: #fff;
        height: 24px;
        margin-right: 8px;
        width: 24px;
    }

    &:disabled {
        background-color: rgba(#fff, 0.1);
        border-color: rgba(#fff, 0.2);
        color: rgba(#fff, 0.2);
        cursor: default;

        svg {
            fill: rgba(#fff, 0.2);
        }
    }
}

.tests-filter {
    background-color: #0C1117;
    border-radius: 8px;
    box-shadow: 0 4px 25px 0 rgba(#D43C38, 0.5);
    display: none;
    left: auto;
    padding: 24px 24px 32px;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 940px;
    z-index: 2;

    &.is-open {
        display: block;
    }

    &__close {
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: rgba(#fff, 0.1);
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        left: auto;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 12px;
        transition: background-color 0.3s;
        width: 32px;

        &:hover {
            background-color: rgba(#fff, 0.3);
        }

        svg {
            fill: #fff;
            height: 12px;
            width: 12px;
        }
    }

    &__inner {
        display: flex;
        margin-bottom: 32px;
    }

    &__reset {
        align-items: center;
        border-radius: 4px;
        background-color: rgba(#fff,0.1);
        border: 2px solid transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        height: 48px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 12px 24px;
        transition: background-color 0.3s, border-color 0.3s;

        svg {
            fill: #fff;
            height: 22px;
            margin-right: 8px;
            width: 22px;
        }

        &:focus,
        &:hover {
            border-color: #D43C38;
            background-color: rgba(#D43C38, 0.3);
        }

        &:active {
            border-color: #D43C38;
            background-color: #D43C38;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44444;
        letter-spacing: 0.18px;
        margin-top: 0;
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    &__block {
        &:last-child {
            padding: 0 48px;

            .switch {
                font-weight: 700;
                text-transform: uppercase;
                width: 256px;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__checkboxes {
        columns: 3;
        column-fill: balance;

        .checkbox {
            margin-bottom: 16px;
        }
    }

    .info {
        margin-left: auto;

        &.is-open {
            z-index: 2;
        }
    }

    .info__button {
        height: 30px;
        width: 30px;

        svg {
            height: 30px;
            width: 30px;
        }
    }

    .info__popover {
        left: auto;
        right: -24px;

        span {
            left: auto;
            right: 27px;
        }
    }
}

.tests {
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(#D43C38, 0.5);
    padding: 20px 42px;
    position: relative;
    z-index: 1;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        margin-left: -6px;
        margin-right: -6px;
        overflow-x: auto;

        .tests__list-item {
            padding-left: 6px;
            padding-right: 6px;
            width: 10%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        align-items: center;
        border-radius: 50%;
        background-color: #0C1117;
        border: none;
        box-shadow: 0 0 4px 0 rgba(#D43C38, 0.5);
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        transform: translateY(-50%);
        width: 24px;

        &::after {
            display: none;
        }

        svg {
            fill: #fff;
            height: 12px;
            width: 12px;
        }
    }

    .swiper-button-prev {
        left: 12px;
    }

    .swiper-button-next {
        left: auto;
        right: 12px;
    }

    .swiper-slide {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.test {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(#fff, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-width: 90px;
    min-height: 124px;
    position: relative;
    padding: 0;
    transition: box-shadow 0.3s;

    img {
        border-radius: 4px;
        display: block;
    }

    svg {
        fill: #fff;
        filter: drop-shadow(0 2px 4px rgba(#000, 0.25));
        height: 32px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        transition: opacity 0.3s;
        width: 32px;
        z-index: 2;
    }

    &::after {
        border-radius: 4px;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.3s;
        width: 100%;
        z-index: 1;
    }

    &--type_1 {
        &::after {
            background-color: rgba(#5474B4, 0.3);
        }

        svg {
            height: 28px;
            width: 28px;
        }

        &.is-active {
            box-shadow: none;

            &::before {
                border-radius: 4px;
                border: 2px solid #D43C38;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }

            &::after,
            svg {
                display: none;
            }
        }
    }

    &--type_2 {
        &::after {
            background: linear-gradient(180deg, #D43C38 0, rgba(#D43C38, 0) 100%);
        }

        &:focus,
        &:hover {
            box-shadow: 0 0 8px 0 #D43C38;
        }
    }

    &--type_3 {
        background-color: rgba(#D43C38, 0.3);
        box-shadow: none;
        cursor: default;

        &::before {
            border: 2px solid #D43C38;
            border-radius: 4px;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &:focus,
    &:hover {
        &::after,
        svg {
            opacity: 1;
        }
    }
}

.tests-sorter {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &__item {
        padding-left: 12px;
        padding-right: 12px;
    }

    &__item-title {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: uppercase;

        .info {
            margin-right: 8px;
        }
    }
}